# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
velofy/node_modules
velofy/.pnp
velofy/.pnp.js

# testing
velofy/coverage

# production
velofy/build

# misc
velofy/.DS_Store
velofy/.env.local
velofy/.env.development.local
velofy/.env.test.local
velofy/.env.production.local

velofy/npm-debug.log*
velofy/yarn-debug.log*
velofy/yarn-error.log*

node_modules
.pnp
pnp.js

# testing
coverage

# production
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*