.column-config-container {
    margin-top: .25rem;
    margin-bottom: .25rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.inline-flex-display {
    display: inline-flex;
}

.fit-content-width {
    width: fit-content;
}

.width-100-percent {
    width: 100%;
}