.column-config-container {
    margin-top: .25rem;
    margin-bottom: .25rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.list-header {
    padding-left: .25rem;
    padding-right: .25rem;
}

.inline-flex-display {
    display: inline-flex;
}

.fit-content-width {
    width: fit-content;
}

.width-100-percent {
    width: 100%;
}

.place-card:hover {
    border-color: rgb(127, 144, 150);
    background-color: rgb(249, 249, 251);
    cursor: pointer;
}